@layer utilities {
  @responsive {
    .scroll {
      &-none {
        &::-webkit-scrollbar {
          display: none;
        }
      }
    
      &-auto {
        &::-webkit-scrollbar {
          display: inline-block;
        }
      }

      &-smooth {
        scroll-behavior: smooth;
      }
    }
  }
}